:root {
  --dark-Blue: hsl(209, 23%, 22%); /*dark mode elements */
  --Very-Dark-Blue: hsl(207, 26%, 17%); /*dark mode background */
  --Very-Dark-Blue-Light-Mode-Text: hsl(200, 15%, 8%); /*(Light Mode Text)*/
  --Dark-Gray: hsl(0, 0%, 52%); /*(Light Mode Input)*/
  --Very-Light-Gray: hsl(0, 0%, 98%); /*(Light Mode Background)*/
  --White: hsl(0, 0%, 100%); /*(Dark Mode Text & Light Mode Elements)*/
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&display=swap');

.App{
  font-family: 'Nunito Sans', sans-serif;
  background-color: var(--Very-Light-Gray);
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.darkMode.App{
  background-color: var(--Very-Dark-Blue);
}

.header{
  /* background-color: var(--White); */
  background-color: var(--White);
}

.logo{
  font-weight: 700;
}

.countries{
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}